@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <Email mail-to="123">873448329@qq.com</Email>
    <Bold>Big</Bold>
    <p bold my-style="@(new MyStyle
                  {
                      Color="red",
                      FontSize="16"
       })">Big Big</p>
</div>
