@{
    ViewData["Title"] = "Login";
}
@using  Heavy.Identity.Model;
@model UserLoginModel;

<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post" asp-action="Login">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="VerrityCode"></label>
                    <input asp-for="VerrityCode"  class="form-control" />
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <img alt="验证码图片" class="img" onclick="refresh(this)" src="/Account/VerityCode" title="点击刷新">
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>


                <div class="invalid" asp-validation-summary="ModelOnly">
                </div>
            </form>
        </section>
    </div>
</div>
<script>
      function refresh(obj) {
        $(obj).attr("src", "/Account/VerityCode?random=" + Math.random());
    }
</script>